@media(min-width:320px){
    .port-col{
      width:100%;
      padding:10px;
    }
    .services-text h1{
      padding-top: 40px;
    }
    .services-text p,.portfolio-title p,.team-title p,.contact-title p{
      font-size: 13px;
    }
    .contact-col1,.contact-col2,.contact-col3{
        width: 100%;
        padding: 10px;
    }
    .contact-title h1{
        font-size: 20px;
    }
    .contact-loc_details h4, .contact-email_details h4, .contact-call_details h4{
        font-size: 18px;
        font-family: "Rubik";
    }
    .contact-loc_details p, .contact-email_details p, .contact-call_details p{
        font-size: 12px;
        color: #4f4b4b;
        font-weight: 900;
    }
  }
  @media(min-width:760px){
    .services-text h1{
      padding-top: 40px;
    }
    .contact-col1,.contact-col2,.contact-col3{
        width: 100%;
        padding: 10px;
    }
    .contact-loc_icon, .contact-email_icon, .contact-call_icon{
    width:40px;
    height:40px;
    padding:9px 0;
  }
    .contact-loc_details h4, .contact-email_details h4, .contact-call_details h4{
        font-size: 20px;
        font-family: "Rubik";
    }
    .contact-loc_details p, .contact-email_details p, .contact-call_details p{
        font-size: 13px;
        color: #4f4b4b;
        font-weight: 900;
    }	
  }
  @media(min-width:1200px){
    .contact-col1{
        width: 100%;
        padding: 10px;
    }
    .contact-title h1{
        font-size: 30px;
    }
    .contact-col2{
        width:40%;
        padding:10px
    }
    .contact-col3{
        width: 60%;
        padding: 10px;
    }
    .contact-loc_details h4, .contact-email_details h4, .contact-call_details h4{
        font-size: 22px;
        font-family: "Rubik";
    }
    .contact-loc_details p, .contact-email_details p, .contact-call_details p{
        font-size: 14px;
        color: #4f4b4b;
        font-weight: 900;
    }
  }
  